@import "./vendor/bootstrap/bootstrap.scss";
@import "./custom/custom-variables";
@import "./custom/custom";
@import "./vendor/fontawesome/fontawesome.scss";
@import "./vendor/fontawesome/fa-solid.scss";
@import "./vendor/fontawesome/fa-brands.scss";
@import "./vendor/fontawesome/fa-regular.scss";
@import "./vendor/slick/slick-theme.scss";
@import "./vendor/slick/slick.scss";

/* --------START-OF------FUNCTION AND THEME LOOPER------------------ */

@function prepend($list, $value) {
  @return join($value, $list);
}

;
@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

;
@function em($size) {
  $emSize: $size / 16px;
  @return #{$emSize}em;
}

;
@each $color,
$value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color,
$value in $theme-colors {
  .btn.btn-outline-#{$color} {
    @include button-outline-variant($value);
    border: 2px solid $value ;
    color: $value ;

    &:hover {
      color: color-yiq($value) ;
    }

  }
}

/* --------END-OF------FUNCTION AND THEME LOOPER------------------ */

/* --------START-OF------BUTTON SASS CONFIG------------------ */

.btn.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

.btn {
  display: inline-block;
  font-size: rem(15px) !important;
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: $white;
  font-family: 'Raleway';
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition); // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  } // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  } // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);
    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}


/* --------END-OF------BUTTON SASS CONFIG------------------ */

/* variables */

// $fa-font-path: "../fonts/fontawesome";
/* color variables */

/* --------START-OF-------HELPER CLASS------------------ */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* --------END-OF-------HELPER CLASS------------------ */

/* --------START-OF-------GLOBAL STYLE------------------ */

body {
  font-family: 'Raleway', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1200px;
  }
}

/* --------END-OF-------GLOBAL STYLE------------------ */



/* --------START-OF-------BOX STYLE------------------ */


.box {
  display: inline-block;
  &__image {
    position: relative;
    img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }
  }
  &__test {
    word-wrap: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  h3 {
    font-family: "Raleway";
    font-weight: bold;
    font-size: em(18px);
    text-transform: uppercase;
    color: $header-color;
  }
  p {
    font-family: 'Source Sans Pro';
    font-size: rem(14px);
    color: $text-color;
  }
  &::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
}

.box--style02 {
  .box__image {
    width: rem(47px);
    float: left;
    margin-right: 20px;
  }
  .box__content {
    padding: em(5px) 0;
    overflow: auto;
  }
}

.box--style03 {
  text-align: center;
  a.overlay {
    display: block;
    text-decoration: none;
    &:hover {
      .bg-overlay {
        opacity: 1;
        transition: .3s all;
      }
    }
  }
  .box__image {
    margin-bottom: em(25px);
    >img {
      width: 100%;
    }
  }
  .bg-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
    background: rgba($black, 0.6);
    transition: .3s all;
    color: $white;
    &::before {
      content: '\002b';
      position: absolute;
      font-size: rem(40px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include media-breakpoint-up(md) {
    .box__image>img {
      height: rem(180px);
      width: auto;
    }
  }
}

.box--style04 {
  text-align: left;
  .box__image {
    float: left;
    margin-right: 15px;
    img {
      width: rem(60px);
      margin: rem(15px) 0;
    }
  }
  .box__content {
    overflow: auto;
  }
  .box__content h3::before {
    counter-increment: count;
    content: '0' counter(count);
    display: block;
    font-size: rem(45px);
    font-family: 'Source Sans Pro';
    color: $main-color;
  }
  @include media-breakpoint-up(sm) {
    .box__image {
      margin-right: 25px;
    }
  }
}

.box--style05 {
  text-align: center;
  .box__content {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  h3 {
    font-size: rem(15px);
    font-weight: bold;
    text-transform: capitalize;
    order: 1;
    >span {
      font-weight: normal;
    }
  }
  p {
    font-size: rem(15px);
  }
  &::before {
    content: '\f10d';
    color: $main-color;
    font-size: rem(30px);
    margin-bottom: initial;
    display: block;
  }
  @include media-breakpoint-up(lg) {
    p {
      font-size: rem(18px);
    }
  }
  @include media-breakpoint-up(xl) {
    &::before {
      font-size: rem(40px);
      margin-bottom: 10px;
    }
  }
}

.box--style06 {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 0;

  .box__social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s all;
    width: rem(280px);
    z-index: 2;
    a {
      transition: .3s all;
    }
  }
  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($main-color, 0.8);
    opacity: 0;
    transition: .3s all;
    z-index: 1;
  }
  .box__content {
    padding: em(25px) 0 em(20px);
    background-color: rgba($content-bg, 0.6);
  }
  a.refer {
    text-decoration: none;
  }
  &:hover {
    .box__social,
    .bg-overlay {
      opacity: 1;
      transition: .3s all;
    }
    .box__social a {
      color: $text-color;
      text-decoration: none;
      transition: .3s all;
    }
  }
  @include media-breakpoint-up(xl) {
    .box__image {
      overflow: hidden;
      img {
        object-fit: cover;
        padding-top: rem(20px);
      }
    }
  }
}

.box--style07 {
  h3 {
    font-size: rem(34px);
    color: $white;
  }
}

.box--style08 {
  text-align: left;
  .box__date {
    position: absolute;
    top: 0;
    left: 0;
  }
  .box__image {
    margin-bottom: rem(5px);
  }
  h3 {
    text-transform: capitalize;
  }
  p {
    line-height: 1.3;
    margin-bottom: rem(30px);
  }
}

.box--style09 {
  .box__image,
  p {
    margin-bottom: em(20px);
  }
  .box__social {
    li {
      margin: initial;
      margin-right: em(12px);
    }
    a {
      color: $text-color;
      text-decoration: none;
      font-weight: normal;
    }
  }
}

.box--style10 {
  text-transform: capitalize;
  width: 100%;
  .box__content {
    margin-top: rem(10px);
  }

  a {
    color: $text-color;
    font-size: rem(15px);
  }
  .box__links {
    display: flex;
    flex-direction: row;
    ul {
      width: 50%;
    }
    li {
      line-height: 1.7;
    }
  }
  @include media-breakpoint-up(lg) {
    h3 {
      // margin-bottom: rem(50px);
    }
  }
}

.box--style11 {
  position: relative;

  .bg-overlay {
    opacity: 0;
    transition: .3s opacity;

  }

  .box__content {
    position: absolute;
    width: 100%;
    top: 35%;
    z-index: 1;
    opacity: 0;
    transition: .3s opacity ;

    h3 {
      color: $main-color;
    }

    p {
      color: $dots-color;
    }

    &::after {
      content : "\f002";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: $white;
    }
  }

  .box__image {
    position: relative;
  }

  a.refer {
    position: relative;
    display: block; /* full container link */

    &:hover {
      .bg-overlay {
        opacity: 1;
        transition: .3s opacity;
      }

      .box__content {
        opacity: 1;
        transition: .3s opacity ;
      }
    }
  }
}

/* --------END-OF-------BOX STYLE------------------ */

/* --------START-OF-------SECTION STYLE------------------ */

.hero {
  position: relative;
  text-align: center;
  height: auto;
  color: $white;
  background-image: url(../images/background/hero.jpg);
  background-size: cover;
  z-index: 0;

  h3 {
    font-size: rem(20px);
    color: inherit;
  }

  p {
    color: inherit;
  }

  .box__content {
    margin-bottom: rem(20px);
  }

  .box__image {
    margin-bottom: rem(30px);
  }

  .box {
    margin-top: rem(70px);
    max-width: 750px;
    position: relative;
    z-index: 2;
    margin:  15px;
  }

  .group-btn {
    position: relative;
    z-index: 2;
  }

  @include media-breakpoint-up(sm) {
    height: rem(350px);

  }

  @include media-breakpoint-up(lg) {
    height: rem(520px);
    background-attachment: fixed;

    .box {
      margin-top: rem(110px);
    }

    h3  {
      font-size: rem(30px);
    }

    .box__content {
      margin-bottom: rem(40px);
    }
  }
}


.process {
  counter-reset: count;
  @include media-breakpoint-up(xl) {
    .box--style04 {
      margin-left: rem(10px);
    }
  }
}

.testimonial {
  background-size: cover;
  position: relative;
  height: auto;
  overflow: hidden;
  .bg-slider {
    img {
      height: rem(350px);
      object-fit: cover;
    }
  }


  .testimonial-bg {
    background-color: rgba($black, 0);
  }
  p {
    line-height: initial;
  }
  @include media-breakpoint-up(lg) {
    height: rem(500px);
    .slider-container {
      margin-top: rem(80px);
      background: $gradient--style;
    }
    .testimonial-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba($black, 0.3);
    }
    .bg-slider {
      img {
        height: 100%;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    height: rem(540px);
    .slider-container {
      margin-top: rem(100px);
    }
    .box__content {
      padding: 0 em(26px);
    }
    p {
      line-height: 1.2;
      margin-bottom: rem(40px);
    }
  }
}



.success {
  text-align: center;

  .box {
    position: relative;
  }


}

.team {
  text-align: center;
}

.cta {
  z-index: 0;
  position: relative;
  background-image: url(../images/cta/01.jpg);
  background-size: cover;
  background-position: center;
  height: rem(250px);

  .box--style07 {
    z-index: 2;
    position: relative;
    margin-top: rem(70px);
  }
  a.btn {
    position: relative;
    z-index: 2;
  }

  @include media-breakpoint-up(lg) {
    background-attachment: fixed;
    height: rem(350px);

    .box--style07 {
      margin-top: rem(120px);
    }

    a.btn {
      margin-top: rem(20px);
    }
  }
}

.news {
  text-align: center;
}

.footer {
  h3 {
    margin-bottom: rem(20px);
    font-size: rem(20px) ;
  }

  p {
    font-size: rem(15px);
  }

  .box__content {
    margin-top: rem(10px);
  }

  @include media-breakpoint-up(lg){
    h3 {
      margin-bottom: 45px;
    }
  }

}

/* --------END-OF-------SECTION STYLE------------------ */

/* --------START-OF--------MISC STYLE------------------ */

.bg-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba($black, 0.6);
}

.slider-container {
  background-color: $light-bg;
  padding: em(50px) 0;
  border-radius: 3px;
}

.testimonial-slider {
  .slick-dots {
    display: flex;
    justify-content: center;
    bottom: -50px;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
      margin: 0 rem(2px);
    }
    button {
      display: block;
      width: rem(10px);
      height: rem(10px);
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: $dots-color;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: $main-color;
    }
  }
  @include media-breakpoint-up(xl) {
    .slick-dots {
      bottom: -70px;
    }
  }
}


.partner-slider {
  img {
    filter: grayscale(100%);
    transition: .3s all;
  }
  a.refer:hover img {
    filter: grayscale(0%);
    transition: .3s all;
  }
}

.main-title {
  font-size: rem(26px);
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  &::after {
    content: '';
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: em(10px);
    border-bottom: 3px solid $main-color;
  }
}

section .main-title {
  margin-top: rem(20px);
  @include media-breakpoint-up(xl) {
    margin-top: rem(70px);
    margin-bottom: rem(50px);
  }
}

.group-btn {
  a.btn {
    margin: 10px;
  }

  @include media-breakpoint-up(md) {
    a.btn {
      margin: 0 rem(10px);
    }
  }
}

.box__date {
  display: inline-block;
  color: $white;
  font-family: 'Source Sans Pro';
  font-size: rem(14px);
  text-transform: uppercase;
  text-align: center;
  padding: em(10px);
  background: $main-color;
  .month {
    border-bottom: 1px solid $white;
    padding-bottom: 2px;
  }
}



.box__social {
  li {
    display: inline-block;
    margin: 0 12px;
    transition: .5s scale;
    &:hover {
      // font-size: 1.5rem;
      transform: scale(1.5);
      transition: .3s scale;
      a {
        color: $primary !important;
        }
      }
    }
  a::before {
    font-family: 'Font Awesome 5 Brands';
    font-weight: bold;
  }
  a[href*="facebook"] {
    &::before {
      content: '\f39e';
    }
  }
  a[href*="google"] {
    &::before {
      content: '\f0d5';
    }
  }
  a[href*="twitter"] {
    &::before {
      content: '\f099';
    }
  }
  a[href*="linkedin"] {
    &::before {
      content: '\f0e1';
    }
  }
  a[href*="behance"] {
    &::before {
      content: '\f1b4';
    }
  }
}

.box__time {
  font-family: 'Source Sans Pro';
  font-size: rem(15px);

  ~ p {
    font-size: rem(15px);
  }

  span {
    float: right;
    color: $header-color;
    /* TODO: đổi tên $header-color */
    font-weight: 600;
  }
}

.box__contact {

  a {
    color: $text-color;
  }

  a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 15px;
    color: $main-color;
  }
  a[href*="tel"] {
    &::before {
      content: '\f095';
    }
  }
  a[href^="fax"] {
    &::before {
      content: '\f1ac';
    }
  }
  a[href*="mailto"] {
    &::before {
      content: '\f0e0';
    }
  }
  a[href*="google.com/map"] {
    &::before {
      content: '\f3c5';
    }
  }
}

/* --------END-OF-------MISC STYLE------------------ */
