@import "./vendor/bootstrap/bootstrap.scss";
@import "./vendor/fontawesome/fontawesome.scss";
@import "./vendor/fontawesome/fa-solid.scss";
@import "./vendor/fontawesome/fa-brands.scss";
@import "./vendor/fontawesome/fa-regular.scss";

/* function */

@function prepend($list, $value) {
  @return join($value, $list);
};

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
};

@function em($size) {
  $emSize: $size / 16px;
  @return #{$emSize}em;
};


/* variables */
$text-color: #666;
$header-color: #333;
$main-color: #ffc20a;

/* Helper */
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* style */
body {
  font-family: 'Raleway', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@include media-breakpoint-up(xl){
  .container {
    max-width: 1200px;
  }
}

.box {
  display: inline-block;
  &__image img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }

  &__test {
    word-wrap: none;
  }

  ul {
    margin: 0;
    padding:0 ;
  }

  li {
    list-style: none;
  }

  h3 {
    font-family: "Raleway";
    font-weight: bold;
    font-size: em(18px);
    text-transform: uppercase;
    color: $header-color;
  }

  p {
    font-family: 'Source Sans Pro';
    font-size: rem(14px);
    color: $text-color;
  }
}

.box--style02 {
  .box__image {
    width: rem(47px);
    float: left;
    margin-right: 20px;
  }

  .box__content {
    padding: em(5px) 0;
    overflow: auto;
  }
}

.box--style03 {
  .box__image {
    margin-bottom: em(25px);
  }

  text-align: center;
  &:hover {
    cursor: pointer;

    a.overlay{
      opacity: 1;
      transition: .3s all;
    }
  }

  .box__image {
    position: relative;
  }

  a.overlay {
    opacity: 0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-decoration: none;
    background: rgba($black,0.6);
    transition: .3s all;
    color: $white;
  }

  .overlay::before {
    content: '\002b';
    opacity: 1;

    position: absolute;
    font-size: rem(40px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.box--style04 {
  text-align: left;
  & .box__image {
    float: left;
    margin-right: 25px;

    img {
      width: rem(60px);
      margin: rem(15px) 0;
    }
  }

  .box__content {
    overflow: auto;
  }

  .box__content h3::before{
    counter-increment: count;
    content: '0' counter(count);
    display: block;
    font-size: rem(45px);
    font-family: 'Source Sans Pro';
    color: $main-color;
  }
}

.process {
  counter-reset: count;


  @include media-breakpoint-up(xl){
    .box--style04 {
      margin-left:rem(10px);
    }
  }
}



.box__social {
  li {
    float: left;
  }

  a {
    display: inline-block;
  }

  a::before  {
    font-family: 'Font Awesome 5 Brands';
  }

  a[href*="facebook"] {
    &::before {
      content: '\f39e';
    }
  }

  a[href*="google"] {
    &::before {
      content: '\f0d5';
    }
  }

  a[href*="twitter"] {
    &::before {
      content: '\f099';
    }
  }

  a[href*="linkedin"] {
    &::before {
      content: '\f0e1';
    }
  }

  a[href*="behance"] {
    &::before {
      content: '\f1b4';
    }
  }
}

.box__contact {
  a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  a[href*="tel"] {
    &::before {
      content: '\f095';
    }
  }

  a[href*="mailto"] {
    &::before {
      content: '\f0e0';
    }
  }

  a[href*="google.com/map"] {
    &::before {
      content: '\f3c5';
    }
  }
}

